.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.page-content img {
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .page-content {
      padding: 0 10px;
      clear:left;
      margin-left: 0;
  }
}

.page-title {
  font-size: 24px;
  font-family: "Open Sans",sans-serif;
}
aside .active {
  font-weight: bold;
}

.note-frame {
  max-width: 760px;
}
.login-form {
  max-width: 350px;
  margin: 200px auto;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
#page-logo {
  color: white;
  font-size: 27px;
}
.input-text {
  max-width: 200px
}
.note-editor .dropdown-toggle::after {
  all: unset;
}

.note-editor .note-dropdown-menu, .note-editor .note-modal-footer {
  box-sizing: content-box;
}

button.nav-link {
  background-color: inherit;
  border: none;
}

