.page-content {
    padding: 30px 0;
    margin-left: 280px;
}

.page-content img {
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .page-content {
        padding: 0 10px;
        clear:left;
        margin-left: 0;
    }
}

.page-title {
    font-size: 24px;
    font-family: "Open Sans",sans-serif;
}
aside .active {
    font-weight: bold;
}

.note-frame {
    max-width: 760px;
}

#page-logo {
    color: white;
    font-size: 27px;
}

button.nav-link {
  background-color: inherit;
  border: none;
}
.container-main {
	padding-left: 10px;
	padding-right: 10px;
}
.container-recipe {
	max-width: 720px;
	margin: 20px auto;
}
.container-main h3 {
	color: white;
}
.recipe-card {
	transition: all .2s ease-in-out;
	text-decoration: none;
	display: block;
	background-color: gray;
	color: white;
	white-space: nowrap;
	height: 120px;
	margin-bottom: 15px;
	position: relative;
}

.recipe-card:hover {
	transform: scale(1.01);
	color: white;
}

.categ-name {
	padding: 5px;
}

h4 {
	font-size: 20px;
}
.description h4 {
	margin-bottom: 0;
}

.description {
	padding: 10px;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	width: 100%;
}
.image-div {
	overflow: hidden;
	display: inline-block;;
	vertical-align: top;
	margin-left: -5px;
	position: absolute;
	right: 0;
}

.image-div img {
	width: 170px;
	height: 120px;
}
.description-div {
	margin-right: 170px;
	white-space: normal;
}


.bg-yellow {
	background-color: yellow;
}
.border-yellow {
	border: 5px solid yellow;
}

.bg-red {
	background-color: red;
}
.border-red {
	border: 5px solid red;
}
.bg-green {
	background-color: green;
}
.border-green {
	border: 5px solid green;
}

.bg-blue {
	background-color: blue;
}
.border-blue{
	border: 5px solid blue;
}



