<head th:replace="fragments/head"></head>

<section class="content-block background-white centered">
	<th:block th:each="categ : ${recipeCategs}">
	<h2 class="mb-4" th:text="${categ.name}"></h2>
	<div class="recipes">

			<!--<h3 th:text="${categ.name}" class="text-center categ-name" th:classappend="${'bg-' + categ.color}"></h3-->

			<a th:href="@{'/reteta/' + ${recipe.id}}" th:each="recipe : ${categ.recipes}">
				<img width="700" height="527" th:src="@{'/uploads/recipe' + ${recipe.id} + '.jpg'}">
				<h2 th:text="${recipe.name}"></h2>
				<p th:text="${recipe.description}"></p>

			</a>


	</div></th:block>
</section>
<footer th:replace="fragments/footer"></footer>