<head th:replace="fragments/head"></head>

<div class="container-main">
	<div th:each="categ : ${recipeCategs}" class="container-recipe mb-4"  th:classappend="${'border-' + categ.color}">
		<h3 th:text="${categ.name}" class="text-center recipe-title" th:classappend="${'bg-' + categ.color}"></h3>
		<div class="card-group">
			<div th:each="recipe : ${categ.recipes}" class="recipe-card">
				<a th:href="@{'/reteta/' + ${recipe.id}}"><img th:src="@{'/uploads/recipe' + ${recipe.id} + '.jpg'}">
					<div class="description mb-3" th:classappend="${'bg-' + categ.color}">
						<h4 class="text-left" th:text="${recipe.name}"></h4>
						<div>ou, bacon, ceapa</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer"></footer>