<head th:replace="fragments/head"></head>

<div class="container-main">
	<div th:each="categ : ${recipeCategs}" class="container-recipe mb-4">
		<div class="categ-title">
			<h3 th:text="${categ.name}" class="text-center categ-name" th:classappend="${'bg-' + categ.color}"></h3>
		</div>
		<div class="recipe-group">
			
			<a th:href="@{'/reteta/' + ${recipe.id}}" th:each="recipe : ${categ.recipes}" class="recipe-card">
				<div class="description mb-3" th:classappend="${'bg-' + categ.color}">
					<h4 class="text-left" th:text="${recipe.name}"></h4>
					<div th:text="${recipe.description}" class="description-div"></div>
				</div>
				<div class="image-div">
					<img th:src="@{'/uploads/recipe' + ${recipe.id} + '.jpg'}">
				</div>
			</a>
			
		</div>
	</div>
</div>
<footer th:replace="fragments/footer"></footer>